<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <title>LambdaGeo by John Paulett</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}screen.css" type="text/css" media="screen, projection" />
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}lambdageo.js"></script>
    </head>
    <body>
        <a href="http://github.com/johnpaulett/lambdageo"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
        <div class="container">
            <div class="span-24 last">
                <h1>LambdaGeo</h1>
                <div class="success" id="location-results" style="display:none"></div>
            </div>
            <div class="span-18">
                {% block content %}
                {% endblock %}
            </div>
            <div class="span-6 last">
                <h2>Share Your Location</h2>
                <button id="share-location">GeoLocate!</button>
                <hr />
                <h3>Links</h3>
                <a href="http://www.slideshare.net/johnpaulett/geodjango-html5-geolocation">Presentation Slides</a><br />
                <a href="http://github.com/johnpaulett/lambdageo">github.com/johnpaulett/lambdageo</a><br />
                <a href="https://docs.djangoproject.com/en/dev/ref/contrib/gis/">GeoDjango Documentation</a><br />
                <a href="http://dev.w3.org/geo/api/spec-source.html">W3C Geolocation Spec</a><br />
                
            </div>
    </body>
</html>